[submodule "hugo-ink"]
	path = hugo-ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "themes/ink"]
	path = themes/ink
	url = https://github.com/knadh/hugo-ink.git
[submodule "hugo-theme-even"]
	path = hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even
